{% extends "admin/base-admin.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="text-left">
	<a class="m-4" href="/course-load/dashboard">Back</a>
</div>
<div class="text-center">
	<h1 class="p-3">Add Course</h1> 
	<div class="row">
		<div class="col-4" style="margin: auto; border-right: 1px solid rgb(206, 206, 206);">
			<h2 class="p-3">Upload Course List</h2>
			<form class="m-5" action="/add-course-bulk/" method="post" enctype='multipart/form-data'>
				<a class="btn btn-dark m-3" href="/course-load/download-course-data-template">Download Template <i class="fas fa-cloud-download-alt"></i></a>
				{% csrf_token %}
				<table>
				{{form_bulk|crispy}}
				</table>
				<input class="btn btn-dark" type="submit" value="Submit">
			</form>
		</div>
		<div class="col-8" style="margin: auto;">
			<h2 class="p-3">Fill Form</h2>
			<form class="m-5" action="/add-course/" method="post">
				{% csrf_token %}
				<table>
				{{form|crispy}}
				</table>
				<input class="btn btn-dark" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
	
{% endblock %}