{% extends "admin/base-admin.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="text-left">
	<a class="m-4" href="/course-load/dashboard">Back</a>
</div>
<div class="text-center">
	<h1>Update Course</h1> 
	<div style="margin: auto;">
		<form class="m-5" action="/update-course/" method="post">
			{% csrf_token %}
			<div class="row">
				<div class="col-6">
					<h5 class="m-2" style="font-weight: bold;">Old Information</h5>
					<div id="div_id_old_code" class="form-group">
						<label for="id_old_code" class=" requiredField">
							Course number
							<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input type="text" name="old_code" maxlength="10" class="textinput textInput form-control" required="" id="id_old_code">
						</div>
					</div>
					<div id="div_id_old_name" class="form-group">
						<label for="id_old_name" class=" requiredField">
							Course title
							<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input readonly type="text" name="old_name" maxlength="10" class="textinput textInput form-control" required="" id="id_old_name">
						</div>
					</div>
					<div id="div_id_old_comcode" class="form-group"> 
						<label for="id_old_comcode" class=" requiredField">
							Comcode
							<span class="asteriskField">*</span>
						</label> 
						<div class=""> 
							<input readonly type="number" name="old_comcode" class="numberinput form-control" required="" id="id_old_comcode"> 
						</div> 
					</div>
					<div id="div_id_old_department" class="form-group">
						<label for="id_old_department" class=" requiredField">
							Department
							<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input readonly type="text" name="old_department" maxlength="10" class="textinput textInput form-control" required="" id="id_old_department">
						</div>
					</div>
					<div id="div_id_old_course_type" class="form-group">
						<label for="id_old_course_type" class=" requiredField">
							Course type
							<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input readonly type="text" name="old_course_type" maxlength="10" class="textinput textInput form-control" required="" id="id_old_course_type">
						</div>
					</div>
					<div id="div_id_old_merge_with" class="form-group">
						<label for="id_old_merge_with" class=" requiredField">
							Equivalent to
						</label>
						<div class="">
							<input readonly type="text" name="old_merge_with" maxlength="10" class="textinput textInput form-control" required="" id="id_old_merge_with">
						</div>
					</div>
					<div id="div_id_old_past_course_strength" class="form-group"> 
						<label for="id_old_past_course_strength" class="">
							Past course strength
						</label> 
						<div class=""> 
							<input readonly type="number" name="old_past_course_strength" class="numberinput form-control" id="id_old_past_course_strength"> 
						</div> 
					</div>
					<div id="div_id_old_sem" class="form-group">
						<label for="id_old_sem" class=" requiredField">
							Semesters
							<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input readonly type="text" name="old_sem" maxlength="10" class="textinput textInput form-control" required="" id="id_old_sem">
						</div>
					</div>
					<div id="div_id_old_lpu" class="form-group">
						<label for="id_old_lpu" class=" requiredField">
							LPU
							<span class="asteriskField">*</span>
						</label>
						<div class="">
							<input readonly type="text" name="old_lpu" maxlength="10" class="textinput textInput form-control" required="" id="id_old_lpu">
						</div>
					</div>
				</div>
				<div class="col-6">
					<h5 class="m-2" style="font-weight: bold;">New Information</h5>
					{{form|crispy}}
				</div>
			</div>
			<input class="btn btn-dark" type="submit" value="Submit">
		</form>
	</div>
</div>
	
<!--===============================================================================================-->	
<script src="{% static 'registration/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script>
	$("#id_old_code").change(function () {
		var course_code = $(this).val();
		$.ajax({
			url: '/get-course-preview/',
			data: {
				'course_code': course_code
			},
			dataType: 'json',
			success: function (data) {
				$("#id_old_comcode").val(data.comcode);
				$("#id_old_name").val(data.name);
				$("#id_old_department").val(data.department);
				if(data.course_type == 'C'){
					$("#id_old_course_type").val("CDC");
				} else if(data.course_type == 'E'){
					$("#id_old_course_type").val("Elective");
				} else {
					$("#id_old_course_type").val(data.course_type);
				}
				$("#id_old_merge_with").val(data.merge_with);
				$("#id_old_past_course_strength").val(data.past_course_strength);
				if(data.sem == 'sem1'){
					$("#id_old_sem").val("Odd");
				} else if(data.sem == 'sem2'){
					$("#id_old_sem").val("Even");
				} else if(data.sem == 'sem12'){
					$("#id_old_sem").val("Both");
				} else {
					$("#id_old_sem").val(data.sem);
				}
				$("#id_old_lpu").val(data.lpu);
			}
		});
	});
</script>
	
{% endblock %}